.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@font-face {
  font-family: Heading;
  src: url(Montserrat-SemiBold.woff)
}
@font-face {
  font-family: Text;
  src: url(Montserrat-Thin.woff)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nameh{
  font-family: Heading;
  margin-left:20px ;
}
.names{
  font-family: Text;
  margin-left:20px ;
}
.pich{
  float: left;
  height: 110px;
  width: 100px;
  border:0.75px solid #282c34;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 35px;
}
.right{
  overflow: hidden;
}

